.container {
  height: 100vh;
  display: flexbox;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #F5F5F5;
}

.header {
  display: flexbox;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.card {
  margin-top: 2rem;
  max-width: 30%;
}
