.container {
  height: 100vh;
  display: flexbox;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #F5F5F5;
}

.header {
  display: flexb;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.card {
  margin-top: 2rem;
  width: 10%;
  min-width: 30px; /* Defina a largura mínima do card */
}
